<div class="header">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                        <span class="sr-only">导航开关</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                <a class="navbar-brand" ui-sref="home">Heekei's Blog</a>
            </div>
            <div class="collapse navbar-collapse" id="js-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a ui-sref="home">首页</a></li>
                    <li><a ui-sref="about">关于</a></li>
                    <li><a ui-sref="links">友情链接</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>